.#{$prefix}-banner-main-section{
    padding-bottom: 30px;
    .twp-title{
        margin-top: 30px;
        margin-bottom: 0;
    }
    .twp-post-list,
    .twp-recent-post-list,
    .twp-banner-article-slider{
        margin-top: 30px;
    }
    
}